<h1>This is field parent</h1>
<form>

                {% for field in fields %}
                        <div class="form-group">
                                <label>{{ field.object.name }}</label>
                                <div class="input">
                                        {{ field.html()|raw }}
                                </div>
                        </div>

                {% endfor %}

        <button type="submit">Filter</button>
</form>
