<h1>This is field parent</h1>
<form>
        <select name="sort">
                {% for item in fields %}
                        <option>
                                {{  item.name }}
                        </option>
                {% endfor %}
        </select>
        <button type="submit">Filter</button>
</form>
