<div id="search-app">
    <div>
        <search-list :config="{{ config }}"></search-list>
    </div>
</div>
<script type="text/javascript">
    window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName|e('js') }}";
    window.csrfTokenValue = "{{ craft.app.request.csrfToken|e('js') }}";
</script>
<script type="text/x-template" id="search-list">
    <div>
        <div class="loader" v-if="loading">Loading...</div>
            {{ entryHtml|raw }}
    </div>
</script>

<script>
    let app = new Vue({
        el: "#search-app"
    });
</script>
