<div class="row">
        <div class="col-sm-12 col-md-12 my-3" v-for="item in items">
            <div class="row">
                <div class="col-md-12 col-xl-3 text-right">
                    <div v-if="item.superFilterAssets.length">
                        <template v-for="asset in item.superFilterAssets">
                            <img :src="asset.url" />
                        </template>
                    </div>
                    <div v-else>
                        <a href=""><img src="https://via.placeholder.com/182x268.png?text=Image+Placeholder" /></a>
                    </div>
                </div>
                <div class="col-md-12 col-xl-9">
                    <h2 class="my-0">${ item.title } (${ item.superFilterReleaseDate.label }) | ${ item.superFilterImdbRating.label } star</h2>
                    <dl>
                        <dt><strong class="mt-0">Genre:</strong>
                            <template v-if="item.superFilterGenre.length" v-for="(element, index) in item.superFilterGenre">
                                <span v-if="index != 0">, </span><span>${ element.title }</span>
                            </template>
                        </dt>
                        <dt><strong>Type:</strong>
                            ${ item.superFilterShowTypes.label }
                        </dt>
                        <dt><strong>Guides:</strong>
                            <template v-if="item.superFilterGuides.length" v-for="(element, index) in item.superFilterGuides">
                                <span v-if="index != 0">, </span><span v-if="element.label">${ element.label }</span>
                            </template>
                        </dt>
                    </dl>

                    <div class="description">
                        ${ item.superFilterDescription }
                    </div>
                    <p><small><strong>Tags:</strong>
                            <template v-if="item.superFilterShowTags.length" v-for="(element, index) in item.superFilterShowTags">
                                <span v-if="index != 0">, </span><span>${ element.title }</span>
                            </template>
                        </small></p>
                </div>
            </div>
        </div>
</div>
