{% js at head %}

window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName|e('js') }}";
    window.csrfTokenValue = "{{ craft.app.request.csrfToken|e('js') }}";
    window.superFilterHandle = "{{ handle }}";
    window.superFilterParams = '{{ craft.app.request.getQueryParams()|json_encode()|raw }}';
    window.superFilterCurrentPage = '{{ craft.app.request.getPageNum() }}';
{% endjs %}

{% do view.registerAssetBundle("pdaleramirez\\superfilter\\web\\assets\\VueAsset") %}

{% js %}

let app = new Vue({
    el: "#search-app",
    delimiters: ['${', '}'],
    data: {
        handle: superFilterHandle,
        items: [],
        initParams: {},
        links: {
            totalPages: 1
        },
        config: {
            params: {
                sort: null,
                fields: []
            }
        },
        loading: false,
        currentPage: 1,
        infiniteId: +new Date()
    },
    methods: {
        submitFilter() {
            this.currentPage = 1;
            this.config.currentPage = this.currentPage;

            this.getFilteredItems();
        },
        clearFilter() {
            this.config.params = this.initParams;
            console.log(this.config.params);
        },
        submitSort() {
            this.getFilteredItems();
        },
        infiniteHandler($state) {
            this.config.currentPage = this.currentPage;
            let data = {
                handle: this.handle,
                config: this.config
            };

            data[csrfTokenName] = csrfTokenValue;

            if (this.currentPage === 1) {
                axios.post('/super-filter/fields', qs.stringify(data))
                    .then(({data}) => {
                        console.log(this.currentPage);
                        if (data.items.length) {
                            this.currentPage++;
                            this.config = data.config;
                            this.initParams = Object.assign({}, data.config.params);
                            this.items.push(...data.items);

                            $state.loaded();
                        } else {
                            $state.complete();
                        }
                    });
            } else {
                axios.post('/super-filter/filter', qs.stringify(data))
                    .then(({data}) => {
                        if (data.items.length) {
                            this.currentPage++;
                            this.items.push(...data.items);

                            $state.loaded();
                        } else {
                            $state.complete();
                        }
                    });
            }
        },
        getFilteredItems() {
            let data = {
                handle: this.handle,
                config: this.config
            };

            data[csrfTokenName] = csrfTokenValue;
            this.loading = true;
            axios.post('/super-filter/filter', qs.stringify(data))
                .then((response) => {
                    this.items  = response.data.items;
                    this.links  = response.data.links;
                    this.loading = false;
                    this.currentPage++;
                    this.infiniteId += 1;
                });
        }
    },
    mounted() {
        let parse = JSON.parse(superFilterParams);

        this.config.params = {...this.config.params, ...parse};
        this.config.currentPage = Number(superFilterCurrentPage);
    }
});
{% endjs %}
