<div v-if="loading" class="loader"></div>
<div class="row" v-if="(!loading && items)">
    <div class="col-sm-12 my-3" v-for="item in items">
        <div class="row">
            <div class="col-md-12 text-left border-black border-2">

                <ul>
                {% for item in items %}
                    <li>${ item.title } :
                        {% if item is instance of('craft\\fields\\BaseOptionsField') %}
                            ${ item.{{ item.handle }}.label }
                        {% elseif item is instance of('craft\\fields\\BaseRelationField')  %}
                            <template v-if="item.{{ item.handle  }}.length" v-for="(element, index) in item.{{ item.handle  }}">
                                <span v-if="index != 0">, </span><span>${ element.title }</span>
                            </template>
                        {% else %}
                            ${ item.{{ item.handle }} }
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>