{% requireAdmin %}

{% extends "_layouts/cp" %}

{% set selectedSubnavItem = 'settings' %}

{% set title = "Settings"|t('super-filter') %}
{% set settings = settings ?? plugin.getSettings() %}
{% set navItems = settingsNav ?? settings.getSettingsNavItems() %}
{% set redirectUrl = navItems[selectedSidebarItem]['url'] ?? craft.app.request.url %}
{% set actionUrl = navItems[selectedSidebarItem]['actionUrl'] ?? 'super-filter/settings/save-settings' %}
{% set settingsForm = navItems[selectedSidebarItem]['settingsForm'] ?? true %}
{% set selectedSettingsInfo = attribute(navItems, selectedSidebarItem) %}
{% set fullPageForm = selectedSettingsInfo.fullPageForm ?? true %}

{% set sidebar %}
    <nav>
        <ul>
            {% if navItems|length %}
                {% for item in navItems %}
                    {% if item.heading is defined and item.heading is not empty %}
                        <li class="heading"><span>{{ item.heading }}</span></li>
                    {% else %}
                        <li>
                            <a href="{{ url(item.url) }}"
                               {% if selectedSidebarItem == item.selected %}class="sel"{% endif %}>
                                {{ item.label }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
{% endset %}

{% block actionButton %}
    {% set fullForm = selectedSettingsInfo.fullPageForm ?? true %}
    {% set actionTemplate = selectedSettingsInfo.actionTemplate ?? null %}

    {% if fullForm and settingsForm == true and actionTemplate %}

        {% include actionTemplate %}

    {% elseif actionTemplate is not same as(false) %}

        <div class="buttons">
            <input class="btn submit" type="submit"
                   value="{{ 'Save'|t('super-filter') }}">
        </div>

    {% endif %}
{% endblock %}
