<h1>This is list type</h1>

{% if options.enableVue %}
        <ul v-for="item in items">
                <li>${ item.title } - ${ item.dateCreated } - ${  item.superFilterImdbRating.value } - ${ item.superFilterShowTypes.value } </li>
        </ul>

{% else %}
        <ul>
                {% for item in items %}
                        <li>
                                {{  item.title }} - {{ item.dateCreated.format('Y-m-d H:i:s') }} - {{ item.superFilterImdbRating }} - {{ item.superFilterShowTypes }}
                        </li>
                {% endfor %}
        </ul>
{% endif %}
